<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/rodrigo.teixeira.9674/" target="_blank" class ="icofacebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/RodrigoTeixeiraC" target="_blank" class ="icofacebook">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/rodrigo-teixeira-59b728103/" target="_blank" class ="icofacebook">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div> 
    <div class="footer-copyright bg-dark text-center py-3">
        <p class="text-white">Direitos reservados - Rodrigo Teixeira das Chagas</p>
    </div> 
</footer>
