<div class="container-fluid">

    <div class="row bg-secondary d-flex align-items-center">
      <div class="col-md-6 text-white text-left">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <h1 class="fs-54">Seja bem vindo(a)!</h1>
            <h5 class="fs-18">expresse aqui os seus pensamentos e opniões!</h5>
          </div>
        </div>
        <div class="row d-flex justify-content-center mt-3 mb-5">
          <div class="col-md-6">
            <button class="btn btn-light me-2" type="button" data-bs-toggle="modal" data-bs-target="#novaPostagem">Nova
              Postagem</button>
            <a class="btn btn-outline-light" href="#postagens">Ver Postagens</a>
          </div>
  
        </div>
      </div>
  
      <div class="col-md-6 d-flex justify-content-center">
        <img src="https://i.imgur.com/H88yIo2.png" width="500px" height="500px" alt="">
      </div>
  
    </div>
    <div class="container mt-5 mb-5" id="postagens">
    <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active text-muted fw-bold" id="todasPostagens-tab" data-bs-toggle="tab" data-bs-target="#todasPostagens" type="button" role="tab" aria-controls="todasPostagens" aria-selected="true">Todas as Postagens</button>
        </li>
        <li class="nav-item" role="presentation">
          <button (click)='findByIdUser()' class="nav-link text-muted fw-bold" id="minhasPostagens-tab" data-bs-toggle="tab" data-bs-target="#minhasPostagens" type="button" role="tab" aria-controls="minhasPostagens" aria-selected="false">Minhas postagens</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-muted fw-bold" id="postagensTema-tab" data-bs-toggle="tab" data-bs-target="#postagensTema" type="button" role="tab" aria-controls="postagensTema" aria-selected="false">Postagens por tema</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="todasPostagens-tab">
          <div class="d-inline-flex justify-content-center me-2 mt-2" *ngFor='let item of listaPostagens'>
            <div class="col">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">{{item.titulo}}</h5>
                  <small class="text-muted">Tema: {{item.tema.descricao}}</small>
                  <p class="card-text">{{item.texto}}</p>
                  <p class="card-text">by: {{item.usuario.nome}}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">{{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}}</small>
                </div>
              </div>
            </div>
          </div>
          
          

        </div>
        <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="minhasPostagens-tab">
            
          <div class="d-inline-flex justify-content-center me-2 mt-2" *ngFor='let item of user.postagem'>
            <div class="col">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">{{item.titulo}}</h5>
                  <small class="text-muted">Tema: {{item.tema.descricao}}</small>
                  <p class="card-text">{{item.texto}}</p>

                  <a [routerLink]="['/postagem-edit', item.id]" class='text-info me-3'href="">Editar</a>
                  <a [routerLink]="['/postagem-delete', item.id]" class="text-danger" href="">Apagar</a>
                </div>
                <div class="card-footer">
                  <small class="text-muted">{{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}}</small>
                </div>
              </div>
            </div>
          </div>



        </div>
        <div class="tab-pane fade" id="postagensTema" role="tabpanel" aria-labelledby="postagensTema-tab">
            
          <div class="d-inline-flex justify-content-center me-2 mt-2" *ngFor='let tema of listaTemas'>
            <div class="col" *ngFor='let item of tema.postagem'>
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">{{item.titulo}}</h5>
                  <p class="card-text">{{item.texto}}</p>
                  <p class="card-text">by: {{item.usuario.nome}}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">{{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}}</small>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    
  <!-- Modal -->
  <div class="modal fade" id="novaPostagem" tabindex="-1" aria-labelledby="novaPostagemLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="novaPostagemLabel">Nova Postagem</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-group mb-3">
                <label for="titulo">Título</label>
                <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo" placeholder="Digite o título.">
            </div>
            <div class="form-group mb-3">
                <label for="texto">Texto</label>
                <textarea [(ngModel)]='postagem.texto' class='form-control' name="texto" id="texto" rows="3"></textarea>
             </div>
            <div class="form-group mb-3">
                <label for="tema">Escolha um tema ou <a routerLink='/tema' data-bs-dismiss="modal">cadastre um novo</a> : </label>
                <select class='form-control' name="tema" id="tema" [(ngModel)]='idTema' (change)='findByIdTema()'>
                    <option *ngFor='let item of listaTemas' value="{{item.id}}">
                      {{item.descricao}}
                    </option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" (click)='publicar()' data-bs-dismiss="modal">Publicar</button>
        </div>
      </div>
    </div>
  </div>